
header{
  color: #FFFF;
  background-color: rgb(0, 0, 0);
  
  height: 180px;
 
}



.navbar-brand{

 width: auto;

}

.navbar-brand img{
  top: 10px;
  width: auto;
  height: 200px;
}

.nav-link{
  
 color: white;
 font-weight: 600;

}

.nav-link:hover{

  color:rgb(104, 102, 212);

}

