<footer>

    <div class="container">

      <div class="row justify-content-center">
        <ul class="alv">

          <li >
            <img src="../../../../assets/email2.png" alt="">
            alumetal@gmail.com
          </li>

          <li>
            <img src="../../../../assets/telefono.png" alt="">
            +548954654
          </li>
          <li>
            <img src="../../../../assets/ubicacion2.png" alt="">
            Entre Rios 564 Este
          </li>

        </ul>
      </div>
    </div>
  </footer>